<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link rel="stylesheet" href="css/style.css">

  <title>Vue Boolzapp</title>
</head>
<body>
  
  <div id="app" class="container">

    <div class="wrapper clearfix">

      <!-- colonna sinistra -->
      <div class="left-column">

        <!-- barra profilo utente -->
        <div class="user-profile">

          <div class="profile">
            <img src="img/avatar_io.jpg" alt="avatar user">
            <h5>Nome Utente</h5>
          </div>

          <div class="icons-bar">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>

        <!-- barra notifiche -->
        <div class="notifications">

          <div class="notifications-icon">
            <i class="fas fa-bell-slash"></i>
          </div>

          <div class="notifications-text">
            <p>Ricevi notifiche di nuovi messaggi</p>
            <a href="#">Attiva notifiche desktop</a>
          </div>

        </div>

        <!-- search-bar -->
        <div class="search-bar">
          <div class="search-icon">
            <i class="fas fa-search"></i>
          </div>
          <input type="text" placeholder="Cerca o inizia una nuova chat">
         
        </div>

        <!-- lista conversazioni -->
        <div class="contacts-list">

          <div 
            v-for="(contact, index) in contacts" 
            @click="showActiveChat(index)"
            :class="{active: activeContact === index}"
            class="contact">
            <div class="contact-info">
              <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
              <div>
                <p>{{contact.name}}</p>
                <p class="last-message">Tutto fatto! ...</p>
              </div>
            </div>
            <div class="date">
              <span>10/01/2020 16:15:22</span>
            </div>
          </div>        
          
        </div>
      </div>
      <!-- /colonna sinistra -->

      <!-- colonna destra-->
      <div class="right-column">

        <!-- contatto chat attiva -->
        <div class="active-chat-profile">

          <div class="profile">
            <img :src="`img/avatar${contacts[activeContact].avatar}.jpg`" :alt="contacts[activeContact].name">
            <div>
              <p>{{contacts[activeContact].name}}</p>
              <p class="last-access">Ultimo accesso oggi alle 10/01/2020 16:15:22</p>
            </div>
          </div>

          <div class="icons-bar">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>

        <!-- area della chat attiva -->
        <div class="chat-area">

          <div 
            v-for="(message, index) in contacts[activeContact].messages"
            class="message"
            :class="message.status">
            <p>{{message.message}}</p>
            <p class="date">{{message.date}}</p>
          </div>        
           
        </div>

        <!-- barra inferiore della chat  -->
        <div class="chat-bottom-bar">

          <i class="far fa-smile"></i>
          <input type="text" placeholder="Scrivi un messaggio">
          <i class="fas fa-microphone"></i>

        </div>

      </div>
      <!-- /colonna destra -->
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>
</html>